
/* admin page */
#dev-banner-admin-settings fieldset legend {
  font-weight: bold;
}
#dev-banner-admin-settings .si-start .form-radios {
  margin-left: 25px;
  float: left;
}
#dev-banner-admin-settings .si-start .form-radios .form-item {
  float: left;
  margin-right: 40px;
  clear: both;
}
#dev-banner-admin-settings .si-start .form-radios .images {
  display: block;
  background-color: #eee8aa;
  margin-left: 40px;
  clear: both;
}
#dev-banner-admin-settings .si-start .form-radios .images img {
  padding: 10px;
  border: 1px solid #333;
  margin: 5px 5px 0 5px;
}
#dev-banner-admin-settings .not-found {
  padding: 5px 5px 5px 40px;
}
#edit-dev-banner-admin-menu-offset {
  text-align: right;
}
#edit-dev-banner-position-0-wrapper,
#edit-dev-banner-position-1-wrapper {
  float: left;
}

#dev-banner-admin-settings .dpo-start .form-radios {
  margin: 0;
}


/* the banner - this section will be different for each position; styles above are common */
#dev-banner {
  position: absolute;
  top:  0;
  right: 0;
  z-index: 1000;
}
#admin-menu ul {
  padding-right: 60px !important;
}
#admin-menu ul ul {
  padding-right: inherit !important;
}


